<!-- Tabla de COMPRAS-->

<h1 class="card-title" id="titulo">HISTORIAL DE COMPRAS</h1>
<div class="col-lg-12 grid-margin stretch-card" >
    <div class="card" >
        <div class="card-body" >
            <div class="table-responsive" >
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th> </th>
                            <th> Correlativo de Compra </th>
                            <th> Total a Pagar</th>
                            <th> Estado de Transacción</th>
                            <th> Detalles </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repitencia-->
                        <tr *ngFor="let compra of compras; index as i;">
                            <td>
                                <img class="mr-2" src="https://image.flaticon.com/icons/png/512/61/61584.png" alt="image" />
                            </td>
                            <td>
                                Compra No. {{i +1 }}
                            </td>
                            <td>
                                $. {{compra.totalApagar | number:'1.2-2'}}
                            </td>
                            <td>
                                {{compra.transaccion}}
                            </td>
                            <td>
                                <button type="button" class="btn social-btn py-0 px-0 mr-2"><i
                                        class="mdi mdi-36px mdi-cart-plus" (click)="verCompra(i)"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


