<!-- Formulario de nuevo Ususario-->
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" id="titulocarta">REGALAR GIFTCARDS</h4>
            <form class="form-sample">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Username Beneficiario</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder ="username" [(ngModel)]="usuarioBeneficio" name="usuarioBeneficio"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" id="tipo">Giftcard</label>
                            <div class="col-sm-9">
                                <select [(ngModel)]="giftcard" name="giftcard" class="form-control">
                                    <option *ngFor="let item of listaDeGiftcards;let indice=index" name="gcNombreCompleto">{{item.alfanumerico}} - {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" id="filtro">Cantidad</label>
                            <div class="col-sm-9">
                                <select [(ngModel)]="cantidad" name="cantidad" class="form-control">
                                    <option selected>1</option>
                                </select>
                            </div>
                        </div>
                    </div>     
                </div>
            </form>
            <div class="col-sm-12 col-md-12">
                <button type="button" class="col-sm-12 col-md-12 btn btn-success" (click)="regalarGiftcard()">Regalar Giftcard</button>
            </div>
        </div>
    </div>
</div>